@{
    ViewBag.Title = "Cameras";
}

<div>
    <h1>Cameras</h1>

    <p>In addition to the nuclear arms race and the space race, the Cold War was known for the spying that took place between the US and USSR. Both sides tried to steal as many secrets from the other in order to stay ahead.</p>

    <p>Spying is a delicate and covert operation. In order to protect their agents, the US and USSR worked to decrease the visibility of their spies. They accomplished this by creating cameras as small as possible so that spies could steal documents without anyone noticing.</p>

    <p>Camera technology had already come a long way by the 1940's. In the beginning of the century, the Kodak Brownie No.2, a very popular and cheap camera in its day, was roughly 5" x 3.5" x 6".</p>

    <div style="text-align:center; ">
        <figure>
            <img src="~/Content/Images/BrownieCamera.jpg" style="max-height:300px; max-width:300px;" />
            <figcaption>Kodak Brownie No.2 Model F (1924). <a href="https://upload.wikimedia.org/wikipedia/commons/c/c7/2014-365-233_The_Basic_Brownie_Camera_%2814809795240%29.jpg">Image credit</a></figcaption>
        </figure>
    </div>

    <p>In contrast, the Kodak Vigilant Junior, a popular camera in the 1940's, was 4" x 6" x 1.5". This is significantly smaller than the Brownie Camera, but definitely still large enough to be easily detected.</p>

    <div style="text-align:center; ">
        <figure>
            <img src="~/Content/Images/KodakVigJrSix-20.jpg" style="max-height:300px; max-width:300px;" />
            <figcaption>Kodak Vigilant Junior Six-20 (1940-1948). <a href="http://www.digicamhistory.com/KodakVigJrSix-20.jpg">Image credit</a></figcaption>
        </figure>
    </div>

    <p>Throughout the Cold War, cameras were made smaller and smaller until they were small enough to be concealed in everyday objects. For instance, the USSR developed a camera that could fit inside of a fake cigarette packet.</p>

    <div style="text-align:center; ">
        <figure>
            <img src="~/Content/Images/CigaretteCamera.jpg" style="max-height:300px; max-width:300px;" />
            <figcaption>KGB Cigarette Packet Camera. <a href="https://i.guim.co.uk/img/media/a7b09c657c1a8695061a8c2e251d21debfcd302a/0_0_830_1020/master/830.jpg?width=1010&quality=85&auto=format&fit=max&s=f558500bb3b4b5cdcae9895b30ed1458">Image credit</a></figcaption>
        </figure>
    </div>

    <p>While these small cameras were designed for use in spy missions, this technology still has a major impact on our world today. Cameras have continued to become smaller and smaller and now almost everyone has one in their pocket. Cold War spies would've loved the camera technology that we currently take for granted.</p>

    <h3>Further Reading</h3>

    <p>
        <a href="https://www.history.com/news/pigeon-cameras-and-other-cia-cold-war-spy-gear">Pigeon Cameras - History.com</a>
    </p>
    <p>
        <a href="https://en.wikipedia.org/wiki/Cold_War_espionage">Cold War espionage - Wikipedia</a>
    </p>
    <p>
        <a href="https://www.bbc.com/news/world-us-canada-49692534">Spy Pigeons - BBC</a>
    </p>
    <p>
        <a href="https://www.spymuseum.org/exhibition-experiences/about-the-collection/collection-highlights/microdot-camera/">Microdot Camera - Spy Museum</a>
    </p>
</div>

